.news_section{
    padding: 40px 20px;
    display: grid;
    gap: 10px;
    row-gap: 30px;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    grid-auto-rows: fit-content;
}

.news_section .blog{
    display: flex;
    gap: 10px;
}

.news_section .blog img{
    height: 100px;
    width: 100px;
    border-radius: 100%;
    object-fit: cover;
}

.news_section .blog .blog_details{
    flex: 2;
    display: flex;
    flex-direction: column;
    gap: 5px;
}