*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;
	font-family: "Poppins", sans-serif;
}

body{
	overflow-x: hidden;
}

a{
	text-decoration: none;
	color: black;
	transition: color 0.5s;
}

a:hover{
	color: dodgerblue;
}

nav{
	display: flex;
	justify-content: space-between;
	padding: 15px;
	gap: 5px;
}

nav .logo{
    display: flex;
    align-items: center;
    text-decoration: none;
}

nav .logo img{ 
    width: 35px;
    height: 35px;
    object-fit: cover;
}

nav .nav_links{
	display: flex;
	align-items: center;
	gap: 50px;
}

nav .nav_links a:hover{
	border-bottom: solid 1px dodgerblue;
}

nav .more_options{
	display: flex;
	gap: 50px;
}

nav .more_options a{
	display: flex; 
	gap: 5px; 
	align-items: center;
}

nav .more_options a i{
	font-size: 25px;
}

nav .nav_icon{
    display: none !important;
    font-size: 25px;
	gap: 5px; 
	align-items: center;
}

.mobile_screen_sidebar{
    position: fixed;
    top: 0;
    left: 100%;
    width: 100%;
    height: 100vh;
    background-color: white;
    z-index: 20000;
    padding: 30px 15px 15px 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.close_button{
    font-size: 20px;
    align-self: flex-end;
    cursor: pointer;
    flex: 1;
}

.mobile_screen_sidebar div{
    flex: 5;
}

.mobile_screen_sidebar div a{
    flex: 1;
    width: 100%;
}

.welcome_container{
	height: 60vh;
	width: 500%;
	position: relative;
	display: flex;
	animation: animate linear 20s infinite;
}

@keyframes animate{
	0%{
		left: 0;
	}
	20%{
		left: 0;
	}
	25%{
		left: -100%;
	}
	45%{
		left: -100%;
	}
	50%{
		left: -200%;
	}
	70%{
		left: -200%;
	}
	75%{
		left: -300%;
	}
	95%{
		left: -300%;
	}
	100%{
		left: -400%;
	}
}

.welcome_container .slider_info{
	flex-basis: 50%;
	position: relative;
}

.welcome_container img{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.welcome_container .overlay{
    background-color: rgba(0,0,0,0.6);
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

.welcome_container .overlay .welcome_message{
	color: white;
	padding: 20px;
	display: flex;
	flex-direction: column;
	gap: 30px;
	max-width: 60%;
}

.welcome_container .overlay .welcome_message button, .main_categories .category .category_description button{
    cursor: pointer;
    padding: 10px 20px;
    max-width: fit-content;
    border: none;
    background-color: black;
    color: white;
    transition: background-color 0.5s;
    pointer-events: initial;
}

.welcome_container .overlay .welcome_message button{
	background-color: dodgerblue;
}

.welcome_container .overlay .welcome_message button:hover, .main_categories .category .category_description button:hover{
    background-color: orangered;   
}

main{
	padding-bottom: 40px;
	text-align: center;
}

main .small_info{
	margin: 30px 0;
}

main .small_info p{
	color: rgb(170, 170, 170); 
	margin: 20px
}

.why_us_reasons{
	display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-auto-rows: 200px;
    grid-auto-flow: dense;
    background-color: #EAEAEA;
}	

.why_us_reasons .reason{
	display: flex;
	flex-direction: column;
	text-align: center;
	align-items: center;
	padding: 20px;
	gap: 15px;
	border-right: 2px solid #ccc;
}

.why_us_reasons .reason img{
	height: 50px;
	width: 50px;
	object-fit: cover;
}

.why_us_reasons .reason:last-child{
	border-right: none;
}

.main_categories{
	display: flex;
}

.main_categories .category{
	position: relative;
	flex: 1;
	transition: flex 0.5s;
	height: 450px;
	display: flex;
}

.main_categories .category:hover{
	flex: 1.4;
}

.main_categories .category img{
	position: absolute;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	z-index: -1;
}

.main_categories .category .category_description{
	align-self: flex-end;
	width: 100%;
	padding: 20px;
	pointer-events: none;
	background-color: rgba(0,0,0,0.5);
	color: white;
	text-align: left;
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.featured_products{
	display: grid;
	gap: 20px;
	grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
	grid-auto-rows: 300px;
	grid-auto-flow: dense;
}

.featured_products .product{
	position: relative;
	transition: all 0.5s;
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.featured_products .product .image_container{
	height: 230px;
	z-index: -1;
	position: relative;
	overflow: hidden;
	border-radius: 10px;
}

.featured_products .product img{
	position: absolute;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	transition: all 0.5s;
}

.featured_products .product:hover img{
    transform: scale(1.2);
}

.featured_products .product i{
	position: absolute;
	top: 0;
	right: 0;
	color: white;
	transition: color 0.5s;
	padding: 10px;
	margin: 5px;
	background-color: rgba(0,0,0,0.2);
	border-radius: 100%;
}

.featured_products .product i:hover{
	color: dodgerblue;
}

.featured_products .product h3{

}

.testimonials{
	display: flex;
	gap: 10px;
}

.testimonials .testimonial{
	flex: 1;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 10px;
	background-color: #e0e0e0;
	padding: 20px;
	border-radius: 20px;
	position: relative;
	overflow: hidden;
	min-height: 350px;
}

.testimonials .testimonial img{
	object-fit: cover;
	width: 110px;
	height: 110px;
	border-radius: 100%;
	top: 0;
	transition: all 0.5s;
}

footer{
    display: flex;
    justify-content: space-around;
    padding: 20px;
    flex-wrap: wrap;
    background-color: #e0e0e0; 
}

footer .footer_info{
    display: flex;
    flex-direction: column;
}

footer .footer_info h2{
    font-style: normal;
    font-weight: 500;
    text-align: center;
    font-size: 1rem;   
    padding-bottom: 10px;
    border-bottom: 1px solid #ccc;
}

footer .footer_info a{
    padding: 10px 0;
    text-align: center;
}

footer .footer_info a i{
    font-size: 20px;
}

.copyright{
    text-align: center; 
    padding: 20px 15px 15px 15px; 
    margin-bottom: 0; 
    color: rgb(61, 57, 53);
}

@media(max-width: 700px){
	nav .nav_links{
		display: none;
	}

	.welcome_container{
		height: 85vh;
	}

	nav .more_options{
		display: none !important;
	}

	nav .nav_icon{
		display: flex !important;
	}

	.welcome_container .overlay .welcome_message{
		max-width: unset;
	}

	main{
		padding: 10px;
	}

	.why_us_reasons{
		grid-template-columns: repeat(auto-fill, minmax(170px, 1fr));
		grid-auto-rows: 205px;
    	margin-bottom: 50px;
	}

	.why_us_reasons .reason:nth-child(1){
		border-bottom: 2px solid #ccc;
	}

	.why_us_reasons .reason:nth-child(2){
		border-bottom: 2px solid #ccc;
		border-right: none;
	}

	.main_categories{
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(170px, 1fr));
		grid-auto-rows: 260px;
	}

	.main_categories .category{
		height: unset;
	}

	.featured_products{
		gap: 10px;
		grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
		grid-auto-rows: 200px;
		margin: 10px;
	}
}